/* Upper Header */
.upper-header-wrapper {
  margin-bottom: 2px;
}
.upper-header {
  width: 939px;
  margin: 0 auto;
  overflow: hidden;
}

.logo {
  float: left;
  padding: 20px 24px 16px 0;
}

.search {
  float: left;
  margin: 40px 0 25px 0;
  overflow: hidden;
}

.searchbar {
  margin-right: 7px;
  float: left;
}
.searchbar-right input {
  float: left;
  display: block;
}

.search-btn {
  float: left;
}

.search-btn-right a {
  display: block;
}

.profile {
  float: right;
}

.profile-name {
  float: right;
}

.profile-nav {
  float: right;
  clear: right;
}

/*Lower Header*/
.lower-header-wrapper {
  margin-bottom: 30px;
}
.lower-header {
  width: 939px;
  margin: 0 auto;
  overflow: hidden;
}

.nav {
  float: left;
}

.notifications {
  float: right;
}

/*main*/

.main-wrapper {
  margin-bottom: 32px;
}
.main {
  width: 939px;
  margin: 0 auto;
  overflow: hidden;
}

/*left-bar*/
.left {
  float: left;
  margin-right: 26px;
}

/*content*/

.center-entries ul li {
  overflow: hidden;
}

.center-entries ul li img {
  float: left;
}

.entry-content {
  float: left;
}

/*r-right*/
.r-right {
  float: right;
  margin-left: 24px;
}

/*center*/
.center {
  float: right;
  width: 518px;
}

/*footer*/
.footer-wrapper {
  background: #727272;
}

.footer {
  width: 939px;
  margin: 0 auto;
  overflow: hidden;
}

.footer-menu {
  float: left;
}

.copyright-info {
  float: right;
}
