.body-wrapper {
  min-width: 30em;
}

/*upper header*/

.upper-header {
  padding-top: 10px;
  width: 28.14em;
  overflow: hidden;
  margin: 0 auto;
}

.logo {
  float: left;
}

.search-icon-div {
  float: right;
  margin: 10px 0 0 10px;
}

.triple-menu-icon-div {
  float: right;
  margin: 10px;
}

.search {
  display: none;
}

.searchbar {
  float: left;
  width: 78.2728999%
}

.searchbar-right input {
  float: left;
  display: block;
  width: 88.8038%;
}

.search-btn {
  float: right;
}

.search-btn-right a {
  display: block;
}

.profile {
  display: none;
  float: right;
  clear: right;
  margin-right: 30px;
}

.profile-name {
  float: right;
}

.profile-nav {
  float: right;
  clear: right;
}

.triple-menu-icon-div:hover~.profile {
  display: block;
}

/*Lower Header*/

.lower-header-wrapper {
  margin-bottom: 10px;
}

.lower-header {
  width: 28.14em;
  margin: 0 auto;
  overflow: hidden;
}

.hamburger-icon-div {
  float: left;
  margin-top: 10px;
}

.nav {
  display: none;
  float: left;
  position: absolute;
  background-color: #2fc1da;
  margin-left: 40px;
}

.hamburger-icon-div:hover~.nav {
  display: block;
}

.notifications {
  float: right;
}

/*main*/

.main-wrapper {
  margin: 0 auto;
  margin-bottom: 32px;
  height: 100%;
  display: table;
}

.main {
  width: 28.14em;
  overflow: hidden;
  height: 100%;
  margin: 0 auto;
}

/*left*/

.left {
  margin-bottom: 20px;
}

.side-bar-body ul li a span {
  display: inline-block;
  width: 72.16494845%;
}

.side-bar {
  height: 100%;
}

/*r-right*/

.r-right {
  margin-bottom: 20px;
}

/*content*/

.content {
  height: 100%;
}

/*center*/

.center {
  height: 100%;
  width: 100%;
}

.center-entries ul li {
  overflow: hidden;
}

.center-entries ul li img {
  float: left;
}

.entry-content {
  float: left;
}

/*footer*/

.footer-wrapper {
  background: #727272;
}

.footer {
  width: 28.14em;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}