* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.roboto-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}