.body-wrapper {
    min-width: 20em;
}

/*upper header*/

header {
    position: sticky;
    top: 0;
    margin-top: -100px;
    z-index: 99;
}

.upper-header-wrapper {
    border-bottom: 1px solid #e5e2db;
    padding: 14px 0;
    display: none;
}

.upper-header {
    width: 28em;
    margin: 0 auto;
    overflow: hidden;
}

.upper-header .icon-list {
    float: left;
}

.icon-list ul li {
    display: inline-block;
}

.icon-list ul li {
    margin: 0 0 0 24px;
}

.icon-list ul li:first-child {
    margin: 0 0 0 0;
}

.upper-header .phone-number {
    float: right;
}

/*lower header*/

.lower-header {
    width: 19em;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    float: left;
    padding: 14px 0;
}

.navigation {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    float: right;
    font-size: 11pt;
    display: none;
}

.navigation ul li {
    display: inline-block;
    padding: 0 12px;
    margin: 0 18px;
}

.navigation ul li a {
    display: inline-block;
    padding: 30px 0;
    position: relative;
}

.navigation ul li a:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #4caf50;
    opacity: 0;
    top: -1px;
}

.navigation ul li:hover a:before {
    opacity: 1;
}

.hamburger-menu {
    float: right;
    padding: 30px 0;
}

.hamburger-menu:hover~.navigation {
    display: block;
}

/*welcome-content*/

.welcome-section {
    width: 19em;
    margin: 0 auto;
    overflow: hidden;
}

.welcome-content {
    width: 99%;
    text-align: center;
    margin: 180px auto 180px auto;
}

.welcome-content p {
    width: 99%;
    margin: 25px auto 25px auto;
}

.welcome-content button {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 16px 0;
}

/*our customer*/

.our-customer-section {
    width: 19em;
    margin: 0 auto;
    overflow: hidden;
}

.our-customer-description {
    width: 90%;
    padding: 30px 0 30px 0;
    margin: 0 auto;
    text-align: center;
}

.our-customer-description h1 {
    margin-bottom: 16px;
    margin: 0 auto;
    text-align: center;
}

.our-customer-list {
    margin: auto;
    text-align: center;
}

.our-customer-list ul li {
    display: block;
    padding: 30px 0 30px 0;
}

/*our services*/

.our-services {
    width: 19em;
    margin: 0 auto;
    overflow: hidden;
}

.our-services-content {
    margin: 0 auto;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-and-description {
    margin: 0 auto 35px auto;
}

.title-and-description p {
    width: 100%;
}

.our-services-list ul li {
    margin: 0 auto;
    display: block;
    width: 65.22359294932%;
    overflow: hidden;
}

.services-list-content {
    margin-top: 20px;
}

.bicycle, .light-bulb, .paper-clip, .check-mark {
    padding-left: 58px;
}

.content-text {
    padding-left: 25px;
    border-left: #f1f1f1 1px solid;
}

/*build great things*/

.build-great-things-wrapper {
    padding-top: 30px;
    margin-bottom: 50px;
}

.build-great-things-inside {
    width: 19em;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 85px;
}

.build-great-things-content {
    width: 98%;
    margin: 0 auto;
}

.build-great-things-list {
    margin: 0 auto;
    text-align: center;
}

.build-great-things-list ul li {
    display: block;
    margin-bottom: 30px;
}

/*contact us*/

.contact-us-wrapper {
    padding-bottom: 20px;
}

.contact-us-inside {
    width: 19em;
    margin: 0 auto;
}

.contact-us-description {
    padding-bottom: 30px;
    text-align: center;
    width: 90.964912280%;
    margin: 0 auto;
}

.contact-us-form {
    width: 95%;
    margin: 0 auto;
    padding: 15px 2% 25px 2%;
}

.contact-us-form input {
    height: 30px;
}

.contact-us-form textarea {
    height: 130px;
}

.email input, .message textarea {
    width: 100%
}

.name input {
    width: 100%;
}

.button button {
    margin: 36px auto 10px auto;
    width: 50%;
    padding: 10px;
}

/*footer*/

.footer-wrapper {
    border-top: #e9e9e9 1px solid;
}

.footer {
    width: 19em;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0 40px 0;
    text-align: center;
}

.footer-logo {
    margin-bottom: 32px;
}

.footer-list {
    margin-top: 70px;
}

.footer-follow-us {
    margin-top: 70px;
}